@import '~antd/dist/antd.css';

.Header {
  text-align: center;
}

.Header-header {
  background-color: coral;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}

.header-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add {
  margin: 0 2rem;
}
