@import '~antd/dist/antd.css';

.Header {
  text-align: center;
}

.Header-header {
  background-color: LIGHTSALMON;
  height: 5em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}

.Header-title {
  font-size: 2em;
  display: flex;
  align-items: center;
}

.cow {
  font-size: 3rem;
  padding: 0 0 0 0.25em;
}

@media (max-width: 600px) {
  .Header-title {
    display: none;
  }
}

.Header-title-link {
  color: white;
}

.Header-title-link:active,
.Header-title-link:focus,
.Header-title-link:hover {
  color: white;
  text-decoration: none;
}
